<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.213923314086-sdokmp1vgpkuk4mp47hs6g0hkvq0439v&lt;/string&gt;</string>
		</dict>
	</array>
</dict>
</plist>
